h1 {
    color: purple;
}

h2 {
    color: #46484c;
}

h3 {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #a1d683;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 45px;
    font-family: sans-serif;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: green;
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 0px;
    margin-left: 5px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.publish{
    text-align: start;
    margin-left: 5%;
 }

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul>li{
    padding: 20px;
    margin-left: 10px;
    margin-right: 5px;
    font-family: sans-serif;
    font-weight: inherit;
}

.fixed-header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
}

main{
    margin-top: 100px;
    text-align: left;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    body{
        background-color: orange;
    }
    .navbar,
  .actions {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  main {
    margin-top: 230px;
    text-align: center;
  }
} 

.banner > img{
    width: 100%;
}

.formu{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 320px;
    line-height: 10px;
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}